{{ if .Params.featuredImg -}}
<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
{{- else if .Params.images -}}
    {{- range first 1 .Params.images -}}
    <style>.bg-img {background-image: url('{{. | absURL}}');}</style>
    {{- end -}}
{{- else if .Site.Params.bgImg -}}
<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
{{- else if .Site.Params.images -}}
    {{- range first 1 .Site.Params.images -}}
    <style>.bg-img {background-image: url('{{. | absURL}}');}</style>
    {{- end -}}
{{- end -}}

<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>